In [1]:
# import yfinance as yf
import pandas as pd
import numpy as np

In [3]:
nse = pd.read_csv('non_index_data.csv', header=1)
ten_tickers_in_nse = ['SBIN.NS', 'TCS.NS', 'INFY.NS', 'RELIANCE.NS', 'HDFCBANK.NS', 'HDFC.NS', 'ICICIBANK.NS', 'KOTAKBANK.NS', 'AXISBANK.NS', 'BAJFINANCE.NS', '^NSEI'] 
ten_tickers_in_bse = ['SBIN.BO', 'TCS.BO', 'INFY.BO', 'RELIANCE.BO', 'HDFCBANK.BO', 'HDFC.BO', 'ICICIBANK.BO', 'KOTAKBANK.BO', 'AXISBANK.BO', 'BAJFINANCE.BO', '^BSESN']
ten_tickers_non_index = ['BEL.BO', 'ASTRAL.NS', 'BLUEDART.BO', 'CROMPTON.NS', 'DIVISLAB.NS', 'ESCORTS.BO', 'GLENMARK.NS','PAGEIND.BO', 'TATACOMM.NS', 'SVT1.SG'] 
open = '4'
close = '1'
for tick in ten_tickers_non_index:
    df = pd.DataFrame()
    df["Date"] = nse[nse.columns[0]].loc[1:]
    df['Open'] = nse[f'{tick}' + '.' + open]
    df['Close'] = nse[f'{tick}' + '.' + close]
    df.to_csv(f'{tick}.csv')

In [6]:
nse = pd.read_csv('bse_data.csv', header=1)
nse

,Unnamed: 0,AXISBANK.BO,BAJFINANCE.BO,HDFC.BO,HDFCBANK.BO,ICICIBANK.BO,INFY.BO,KOTAKBANK.BO,RELIANCE.BO,SBIN.BO,...,BAJFINANCE.BO.5,HDFC.BO.5,HDFCBANK.BO.5,ICICIBANK.BO.5,INFY.BO.5,KOTAKBANK.BO.5,RELIANCE.BO.5,SBIN.BO.5,TCS.BO.5,^BSESN.5
0,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-01-01,563.292175,1707.291260,1571.679077,900.453918,301.562592,455.878784,999.501038,892.137146,299.568726,...,39441.0,43178.0,83306.0,502603.0,218678.0,23396.0,242669.0,1725476.0,72202.0,7500.0
2,2018-01-02,558.156372,1703.236206,1585.371460,908.066711,300.300201,453.653442,1000.449036,891.990356,295.519867,...,109814.0,32576.0,90374.0,570898.0,361240.0,42904.0,1763025.0,1188380.0,45568.0,10600.0
3,2018-01-03,558.804565,1695.472412,1584.300171,898.344482,305.932281,449.070648,997.904480,896.834839,295.471100,...,32645.0,323416.0,88928.0,523165.0,317868.0,44891.0,515755.0,806325.0,40080.0,9000.0
4,2018-01-04,557.757446,1734.143921,1588.584961,900.599243,305.689545,447.396210,998.153992,900.651855,300.544373,...,43845.0,21299.0,46494.0,451538.0,639568.0,39046.0,238922.0,2863595.0,29218.0,10500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1232,2022-12-26,928.750000,6423.700195,2660.699951,1628.150024,892.400024,1502.250000,1811.699951,2524.500000,596.750000,...,17229.0,15174.0,160140.0,281736.0,334290.0,33141.0,95382.0,368995.0,18484.0,6500.0
1233,2022-12-27,932.549988,6504.200195,2667.300049,1630.650024,900.650024,1515.500000,1820.500000,2545.050049,601.849976,...,13068.0,9172.0,90688.0,62738.0,116275.0,13779.0,184837.0,343276.0,34548.0,11100.0
1234,2022-12-28,924.950012,6487.600098,2670.899902,1629.449951,898.700012,1510.849976,1820.250000,2544.449951,601.200012,...,13579.0,281672.0,132818.0,189004.0,209070.0,13225.0,168925.0,258405.0,41409.0,10000.0
1235,2022-12-29,935.000000,6508.100098,2675.199951,1640.900024,906.700012,1517.500000,1818.199951,2542.550049,612.299988,...,21238.0,12033.0,83082.0,185549.0,198502.0,24037.0,157229.0,621617.0,52967.0,7900.0
1236,2022-12-30,933.849976,6574.149902,2636.649902,1627.300049,890.950012,1508.699951,1826.449951,2548.199951,613.200012,...,30672.0,14781.0,50172.0,147040.0,241378.0,40699.0,77470.0,544009.0,182089.0,8000.0